<!DOCTYPE html>
<html>
  <head>
    <script
      src="https://kit.fontawesome.com/712575d4a5.js"
      crossorigin="anonymous"
    ></script>
    <title>Yeah!</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="shortcut icon" href="/images/logo-y-title.png" />
  </head>
  <body>
    <!-- BANNER -->
    <div class="topnav">
      <!-- H1 LOGO -->
      <a href="/" style="text-decoration: none"><h1>Yeah!</h1></a>
      <!-- BARRA SEARCH -->
      <div class="search-container">
        <form action="#">
          <input
            class="barra-search"
            type="text"
            placeholder="Buscar"
            name="search"
          />
          <button class="lupa" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </form>
      </div>
      <!-- LOGIN REGISTER CART -->
      <div class="log-reg-cart">
        <a href="/users/login"><button class="login" name="login">Iniciá sesión</button></a>
        <a href="/users/register"><button class="register" name="register">Creá una cuenta</button></a>
        <a href="/products/cart"><button class="cart" name="cart">
          <i class="fas fa-shopping-cart"></i>
        </button></a>
      </div>
    </div>
    <div class="product-container">
      <!-- ITEM 1 -->
      <div class="product" id="item1">
        <div class="camaro"></div>
        <div class="price">U$S 54.000</div>
        <div class="container-anio-km">
          <div class="anio">2013</div>
          <div class="separator">|</div>
          <div class="km">32.000 km</div>
        </div>
        <div class="description">Chevrolet Camaro 6.2 Coupe Ss V8</div>
        <div class="place">San Juan</div>
      </div>
      <!-- ITEM 2 -->
      <div class="product" id="item2">
        <div class="lancha"></div>
        <div class="price">U$S 103.800</div>
        <div class="container-anio-km">
          <div class="anio">2020</div>
          <div class="separator">|</div>
          <div class="km">0 km</div>
        </div>
        <div class="description">
          Quicksilver 2700 C/ Volvo 300 Hp Day Cruiser
        </div>
        <div class="place">Córdoba</div>
      </div>
      <!-- ITEM 3 -->
      <div class="product" id="item3">
        <div class="motocross"></div>
        <div class="price">U$S 6.000</div>
        <div class="container-anio-km">
          <div class="anio">1993</div>
          <div class="separator">|</div>
          <div class="km">10.000 km</div>
        </div>
        <div class="description">Suzuki Rmx 250r</div>
        <div class="place">Pilar</div>
      </div>
      <!-- ITEM 4 -->
      <div class="product" id="item4">
        <div class="cuatri"></div>
        <div class="price">U$S 8.800</div>
        <div class="container-anio-km">
          <div class="anio">2012</div>
          <div class="separator">|</div>
          <div class="km">9.000 km</div>
        </div>
        <div class="description">Yamaha Banshee 350</div>
        <div class="place">Bs.As G.B.A. Sur</div>
      </div>
      <!-- ITEM 5 -->
      <div class="product" id="item5">
        <div class="depto"></div>
        <div class="price">U$S 150.000</div>
        <div class="container-anio-km">
          <div class="anio">48 m²</div>
          <div class="separator">|</div>
          <div class="km">5 amb.</div>
        </div>
        <div class="description">Departamento piso 6, amenities.</div>
        <div class="place">Tres De Febrero, Bs.as. G.b.a. Oeste</div>
      </div>
      <!-- ITEM 6 -->
      <div class="product" id="item6">
        <div class="cuatri"></div>
        <div class="price">U$S 8.800</div>
        <div class="container-anio-km">
          <div class="anio">2012</div>
          <div class="separator">|</div>
          <div class="km">9.000 km</div>
        </div>
        <div class="description">Yamaha Banshee 350</div>
        <div class="place">Bs.As G.B.A. Sur</div>
      </div>
      <!-- ITEM 7 -->
      <div class="product" id="item7">
        <div class="utv"></div>
        <div class="price">U$S 61.700</div>
        <div class="container-anio-km">
          <div class="anio">2020</div>
          <div class="separator">|</div>
          <div class="km">0 km</div>
        </div>
        <div class="description">Utv Can Am Maverick X3 Xrs 195hp 2020</div>
        <div class="place">Córdoba</div>
      </div>
      <!-- ITEM 8 -->
      <div class="product" id="item8">
        <div class="fulbito"></div>
        <div class="price">$ 519</div>
        <div class="container-anio-km">
          <div class="anio">Alfajor</div>
          <div class="separator">del</div>
          <div class="km">pueblo</div>
        </div>
        <div class="description">Alfajor Fulbito X 60 Unidades - Tutto Dolce</div>
        <div class="place">Bs.As G.B.A. Sur</div>
      </div>
    </div>
      <div class="text-footer">
        <ul>
          <li><a href="#">yeah-contact@yeah.com</a></li>
          <span>|</span>
          <a href="#"><li>+54 9 11 5612-3524</li></a>
          <span>|</span>
          <a href="#"><li>Acerca de</li></a>
          <span>|</span>
          <a href="#"><li>Ayuda</li></a>
          <span>|</span>
        </ul>
        <ul>
          <a href="#"><li>Términos y condiciones</li></a>
          <span>|</span>
          <a href="#"><li>Privacidad</li></a>
          <span>|</span>
          <a href="#"><li>FAQ</li></a>
          <span>|</span>
          <a href="#"><li>Soporte técnico</li></a>
        </ul>
      </div>
  </body>
</html>
