<!DOCTYPE html>
<html>
  <head>
    <script
      src="https://kit.fontawesome.com/712575d4a5.js"
      crossorigin="anonymous"
    ></script>
    <title>Yeah!</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/css/register.css" />
    <link rel="shortcut icon" href="/images/logo-y-title.png" />
    </head>
    <body>
      <div class="container">
        <h1>Creá tu cuenta</h1><br>
        <div class="input-container">
            <ul>
              <li><input type="text" name="name" placeholder="Ingresá tu nombre"></li><br>
              <li><input type="text" name="name" placeholder="Ingresá tu apellido"></li><br>
              <li><input type="text" name="email" placeholder="Ingresá tu correo electrónico"></li><br>
              <li><input type="text" name="password" placeholder="Ingresá tu contraseña"></li><br>
              <li><input type="text" name="password" placeholder="Confirmá tu contraseña"></li><br><br>
              <li><button type="submit" name="enviar" class="button-enviar">Enviar</button></li>
            </ul>
        </div>
      </div>
    </body>