.product-container {
    margin: 0 auto;
    width: 1140px;
    height: 100%;
    /* background: violet; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.product {
    margin: 15px 15px;
    width: 250px;
    height: 300px;
    background: white;
    border-radius: 4px;
    transition: all 0.2s ease-in-out;
}
.product:hover {
    transform: translateY(-5px);
    box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.274);
}
ul {
    list-style-type: none;
    display: inline-flex;
}
li {
    margin: 0 15px;
}
a {
    text-decoration: none;
    color: white;
}
 /* header usuario logeado */
.form {
    display: flex;
    background-color: white;
    height: 600px;
    align-items: center;
    justify-content: center;
}
.title {
    align-items: center;
}

section.productDetail {
    display: flex;
    flex-direction: column;
    align-items: center    
}
section.productDetail h1 {
    font-size: 72px;
    /* margin-bottom: 10px; */
}
section.productDetail .controls {
    display: flex;
    margin-top: 20px;
}
section.productDetail .controls button {
    padding: 8px 16px;
    background: #0d6efd;
    color: #fff;
    border: none;
    border-radius: 3px
}
section.productDetail .controls button + form {
    margin-left: 10px;
}
section.productDetail .controls form {
    display: flex;
}
section.productDetail .controls form > button {
    background: red
}
.productDetail h1 {
    color: black;
}
.productDetail ul li {
    display: inherit;
}
#descriptionProduct {
    /* margin: 3px; */
    background-color: rgb(223, 223, 223);
    padding: 15px;
    border-radius: 10px;
    /* width: 600px */

}

#priceProduct {
    /* margin: 3px; */
    /* background-color: rgb(223, 223, 223); */
    padding: 15px;
    border-radius: 10px;
    text-align: start;
    font-size: 20px
}
#stockProduct {
    /* margin: 3px; */
    /* background-color: rgb(223, 223, 223); */
    padding: 15px;
    border-radius: 10px;
    text-align: center;
}
#nameProduct {
    /* margin-top: 15px; */
    background-color: rgb(223, 223, 223);
    padding: 15px;
    border-radius: 10px;
    text-align: start;
    font-size: 30px;
    /* width: 100%; */
}

.containerProduct {
    text-align: center;
    height: 100%;
    width: 90%;
    background-color: white;
    text-align: start;
    border-radius: 15px;
    border:rgb(190, 190, 190) 1px solid;
    box-shadow: gray 1px 1px 5px 3px;
    display: flex;


}

.imgProduct {
    width: 30%;
    align-items: center;
    object-fit: contain;
}
.descriptionProductCard {
    /* border:gray 10px solid; */
    padding: 50px;
}
.titleLabel {
    margin-top: 15px;
    margin-left: 10px;
}

.grayTitleLabel {
    /* margin-left: 10px; */
    background-color: rgb(223, 223, 223);
    /* width: 100%; */
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
}

.buttonPurchase {
    padding: 10px;
    outline: none;
    background-color: green;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    transition: ease-in-out 0.3ms;
}
.buttonPurchase:hover {
    background-color: rgb(0, 167, 0);
}
.buttonPurchase:active {
    background-color: rgb(0, 195, 0);
}
.buttonPurchaseBlue {
    padding: 10px;
    outline: none;
    background-color: rgb(0, 45, 128);
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: 700;
    transition: ease-in-out 0.3ms;
}
.buttonPurchaseBlue:hover {
    background-color: rgb(19, 52, 163);
}
.buttonPurchaseBlue:active {
    background-color: rgb(26, 30, 230);
}
.imgProduct{
    width: 100% !important;
    height: 100% !important;
}
@media screen and (max-width: 600px) {
    .containerProduct {
        width: 90% !important;
    }
}