.topnav {
    background-color: #8c00ff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    margin-bottom: 45px;
    box-shadow: 0px 0px 3px 1px;
}

h1 {
    background-color: none;
    color: white;
    font-size: 70px;
}

/* SEARCH BAR */

.search-container {
    width: 600px;
}

form {
    background-color: none;
    display: flex;
    height: 35px;
    border-radius: 4px 0px 0px 4px;
}

.barra-search {
    border: 2px #380066 solid;
    margin: 0 0 0 0px;
    padding: 10px;
    outline: none;
    border-radius: 4px 0px 0px 4px;
    width: 100%;
    font-size: 13px;
    background: rgb(240, 240, 240);
}

.barra-search:focus {
    background: white;
    color: black;
    font-style: bold;
}

.lupa {
    border: none; 
    margin: 0 0px 0px 0px;  
    background: #380066;
    width: 60px;
    outline: none;
    border-radius: 0px 4px 4px 0px;
    color: white;
}

.lupa:active {
    color: rgb(192, 192, 192);
}

/* SEARCH BAR */

button {
    cursor: pointer;
}

/* LOG REG CART */

.login {
    border: none;
    background-color: #380066;
    color: white;
    font-size: 15px;
    padding: 10px;
    border-radius: 4px;
    margin-right: 10px;
    outline: none;
    transition: all 0.2s ease-in-out;
}

.login:hover {
    background: #45017c;
    transform: translateY(-1px);
    box-shadow: 0px 2px 3px -2px;
}

.login:active {
    background: #6b00c2;
    transform: translateY(3px);
}

.register {
    border: none;
    background-color: #380066;
    color: white;
    font-size: 15px;
    padding: 10px;
    border-radius: 4px;
    margin-right: 10px;
    outline: none;
    transition: all 0.2s ease-in-out;
}

.register:hover {
    background: #45017c;
    transform: translateY(-1px);
    box-shadow: 0px 2px 3px -2px;
}

.register:active {
    background: #6b00c2;
    transform: translateY(3px);
}

.cart {
    border: none;
    background-color: #380066;
    color: white;
    font-size: 15px;
    padding: 10px;
    border-radius: 4px;
    width: 50px;
    outline: none;
    transition: all 0.2s ease-in-out;
}

.cart:hover {
    background: #45017c;
    transform: translateY(-1px);
    box-shadow: 0px 2px 3px -2px;
}

.cart:active {
    background: #6b00c2;
    transform: translateY(3px);
}



/* LOG REG CART */

.product-container {
    margin: 0 auto;
    width: 1140px;
    height: 100%;
    /* background: violet; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    border: red solid;
}

.product {
    margin: 15px 15px;
    width: 250px;
    height: 300px;
    background: white;
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
    /* padding: 20px; */
}

.product:hover {
    transform: translateY(-5px);
    box-shadow: 2px 5px 5px 0px rgba(0, 0, 0, 0.274);
}

.text-footer {
    height: 136px;
    width: 100%;
    background-color: grey;
    color: white;
    display: inline-flex;
    /* flex-wrap: wrap; */
    align-items: center;
    justify-content: center;
}

ul {
    list-style-type: none;
    display: inline-flex;
}

li {
    margin: 0 15px;
}

a {
    text-decoration: none;
    color: white;
}
 /* header usuario logeado */
.usLog {
    display: flex;
    position: relative;
}
.usLog img {
    height: 30px;
    width: 30px;
}

.log-reg-cart {
    flex-direction: row;
}
.form {
    display: flex;
    background-color: white;
    height: 600px;
    align-items: center;
    justify-content: center;
}
.title {
    align-items: center;
}

/* ======= USUARIO HEADER ========= */

.usLog {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin: 0px 10px;
}

.usMenu {
    position: relative;
    display: inline-flex;
    align-items: center;
    margin: 0px 10px;
    margin-top: 0px;
}


#usLogImg {
    border-radius: 50%;
}

#closeSessionButton {
    border: none;
    background-color: #380066;
    color: white;
    font-size: 15px;
    padding: 10px;
    border-radius: 4px;
    width: 120px;
    outline: none;
    transition: all 0.2s ease-in-out;
}

#closeSessionButton:hover {
    background: #45017c;
    transform: translateY(-1px);
    box-shadow: 0px 2px 3px -2px;
}

#closeSessionButton:active {
    background: #6b00c2;
    transform: translateY(3px);
}

footer {
    display: flex;
    position: relative;
    width: 100%;
    margin-top: 100%;
}

.product img {
    height: 150px;
    width: 250px;
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;
}
.product a h2 {
    color:  black;
    padding: 8px;
    font-size: 20px;
}

.product h3 {
    padding: 0px 0px 10px 10px;
    font-size: 18px;
}

.product p {
    padding: 0px 0px 10px 10px;
    font-size: 10px;
}

.title  {
    color: black;
}
.product a {
    color: black;
}