.prof-container {
    background-color:white;
    width: 900px;
    height: 400px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 50px;
}

#ulBullets {
    color: black;
    font-size: 30px;
    align-items: center;
    display: inline-block;
    /* margin: 0 20%; */
    list-style: none;
}

li img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
}

#titleProfile {
    text-align: center;
    color: black;
}

/* ======= BUTTON EDIT USER ========= */

.controls {
    display: flex;
    margin-top: 20px;
}

.controls button {
    padding: 8px 16px;
    background: #0d6efd;
    color: #fff;
    border: none;
    border-radius: 3px
}
