h1 {
    display: flex;
    color: black;
    text-align: center;
    justify-content: center;
    font-size: 60px;
}

.form {
    align-items: center;
    text-align: center;
    
}
.backArrow {
    margin: px;
    height: 50px;
    width: 50px;
    border: none;
    background:  #380066;
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    outline: none;
}
.backArrow:hover {
    background: #45017c;
    transform: translateY(-1px);
    box-shadow: 0px 2px 3px -2px;
}

.backArrow:active {
    background: #6b00c2;
    transform: translateY(3px);
}

.container {
    top: 75px;
    position: relative;
    height: 100%;
    width: 550px;
    margin: auto;
    background: white;
    border-radius: 4px;
    box-shadow: 0px 2px 10px 0px grey;
    align-items: center;
    justify-content: center;
}

.cuenta{
    padding-top: 20px;
}

input {
    width: 350px;
    height: 40px;
    padding: 15px;
    margin: 15px;
}


.button-enviar {
    border: none;
    background:  #380066;
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    outline: none;
    margin-bottom: 20px;
}

.button-enviar:hover {
    background: #45017c;
    transform: translateY(-1px);
    box-shadow: 0px 2px 3px -2px;
}

.button-enviar:active {
    background: #6b00c2;
    transform: translateY(3px);
}

.form-control-file {
    border: none;
    background:  #380066;
    color: white;
    padding: 10px 15px;
    border-radius: 4px;
    outline: none;
}

.form-control-file:hover {
    background: #45017c;
    transform: translateY(-1px);
    box-shadow: 0px 2px 3px -2px;
}

.form-control-file:active {
    background: #6b00c2;
    transform: translateY(3px);
}

.form-group {
    margin: 15px;
}
.errors {
    color: red;
    background-color: rgb(229, 149, 165);
    text-align: start;
    width: 500px;
    margin: 0 auto;
    border-radius: 5px;
    list-style: none;
}
.errors ul {
    padding: 5px;
    align-content: center;
    text-align: center;
    
}
.errors li {
    margin-bottom: 10px ;
    border-bottom: 10px solid  rgb(229, 149, 165);
    border-left: 10px solid  rgb(229, 149, 165);
    border-radius: 5px;
}
@media screen and (max-width: 600px) {
    .container {
        width: 90% !important;
    }
    input {
        width: 90% !important;
    }
    .errors {
        width: 90% !important;
    }
}
