<!DOCTYPE html>
<html lang="en">
<head>
  <script>
    src="https://kit.fontawesome.com/712575d4a5.js"
    crossorigin="anonymous"
  </script>
  <title>Yeah!</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/stylex.css" />
  <link rel="shortcut icon" href="/images/logo-y-title.png" />
  <link rel="stylesheet" href="/css/admin.css">
</head>
<%- include('./partials/header') %>
<body>
  <div class="container">
    <h1>Crea tu Producto</h1>

    <form action="" method="post"  class="form" enctype="multipart/form-data">
      <div class="group-form">
        <label for="title">Ingresa el nombre del producto</label><br>
        <input type="text" name="title" class="form-control" id="title">
      </div>
      <div class="group-form">
        <label for="description">Danos una descripcion breve de tu producto</label><br>
        <textarea rows="8" cols="60" name="description" class="form-control" id="description"></textarea><br>
      </div>
      <div class="group-form">
        <label for="exampleFormControlFile1">Subí unas imagenes de tu producto para que los demas usuarios puedan verlo !!</label><br><br>
        <input type="file" class="form-control-file" id="exampleFormControlFile1" name="avatar"><br>
      </div>
      <button type="submit" class="button-enviar">Confirmar</button>