<!DOCTYPE html>
<html>
<head>
  <script
  src="https://kit.fontawesome.com/712575d4a5.js"
  crossorigin="anonymous"
  ></script>
  <title>Yeah!</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/stylex.css" />
  <link rel="stylesheet" href="/css/cart.css" />
  <link rel="shortcut icon" href="/images/logo-y-title.png" />
</head>
<body>
  <div class="container">
    <h1>Carrito</h1><br>
    <div class="barra-product" id="item1">
      <ul>
        <li><img src="https://http2.mlstatic.com/chevrolet-camaro-D_NQ_NP_780644-MLA44124615766_112020-F.webp" alt="camaro"></li>
        <li>Chevrolet Camaro 6.2 Coupe Ss V8</li>
        <!-- <li><span>12345</span></li> -->
      </ul>
      <span>U$S 54.000</span>
    </div>
    <div class="barra-product" id="item4">
      <ul>
        <li><img src="https://http2.mlstatic.com/D_NQ_NP_717068-MLA44332367067_122020-V.webp" alt="fulbito"></li>
        <li>Alfajor Fulbito X 60 Unidades - Tutto Dolce</li>
      </ul>
      <span>U$S 6,29</span>
    </div>
    <div class="totalyprecio">
      <div class="total">
        <h2>Total</h2>
      </div>
      <div class="precio-total">
        <span class="a-pagar">U$S 54.006,29</span>
      </div>
    </div>
  </div>
</body>