<!DOCTYPE html>
<html>
  <head>
    <script
    src="https://kit.fontawesome.com/712575d4a5.js"
    crossorigin="anonymous"
    ></script>
    <title>Yeah!</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/stylex.css" />
    <link rel="stylesheet" href="/css/header.css"/>
    <link rel="stylesheet" href="/css/footer.css"/>
    <link rel="stylesheet" href="/css/cart.css"/>
    <link rel="shortcut icon" href="/images/logo-y-title.png" />
    <script src="/scripts/cartActions.js" async></script>
    <script src="/scripts/global.js"></script>
    
  </head>
<body>
  <%- include('partials/header') %> 
  <h2>CARRITO DE COMPRAS</h2>
<div> 
<table id="showProducts" class="products">
  <tr>
    <th>Nombre del producto</th>
    <th>Descripción</th>
    <th>Precio</th>
    <th>Cantidad</th>
  </tr>
</table>
<p class="cartEmpty" style="text-align: center;"></p>
<ul>
  <button class="btn-purchase" onclick="message()">Comprar</button>
  <button class="buttonEmptyCart" onclick="deleteAll()">Vaciar carrito</button>
  <button class="buttonContinueShopping"><a href="/">Seguir Comprando</a></button>
</div>
</body>
<%- include('partials/footer') %> 
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>