<!DOCTYPE html>
<html lang="en">
    <head>
        <script
          src="https://kit.fontawesome.com/712575d4a5.js"
          crossorigin="anonymous"
        ></script>
        <title>Yeah!</title>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/stylesheets/stylex.css" />
        <link rel="stylesheet" href="/css/explain.css" />
        <link rel="stylesheet" href="/css/footer.css"/>
        <link rel="stylesheet" href="/css/header.css"/>
        <link rel="shortcut icon" href="/images/logo-y-title.png" />
        <script src="/scripts/global.js"></script>
        <script src="/scripts/cartActions.js"></script>
      </head>
  <body>
    <%- include('./partials/header') %>

    <h1>Oops, parece que te topaste con una funcion en desarollo!!</h1><br><br><br>

    <div class="text-container">
      <ul>
        <li><p>Esta pagina web esta aun en una etapa de desarollo, por lo tanto algunas funciones aun no estan funcionales.
          Estamos trabajando para brindarte la mejor experiencia dentro de nuestra web!!.
      </p></li>
        <li><button class="buttonReturnHome"><a href="/">Volver a la pagina principal</a></button></li>
      </ul>
    </div>
    
      <%- include('./partials/footer') %>
      
  </body>
</html>