<!DOCTYPE html>
<html>
  <head>
    <script
      src="https://kit.fontawesome.com/712575d4a5.js"
      crossorigin="anonymous"
    ></script>
    <title>Yeah!</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/stylex.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link rel="shortcut icon" href="/images/logo-y-title.png" />
    <script src="../scripts/global.js"></script>
  </head>
  <body>
    
    <%- include('./partials/header') %>

    <div class="product-container">
      <!-- ITEM 1 -->
      <div class="product" id="item1">
        
      </div>
     
    </div>

      <%- include('./partials/footer') %>
  
    </body>
</html>
