<!DOCTYPE html>
<html>
  <head>
    <script
      src="https://kit.fontawesome.com/712575d4a5.js"
      crossorigin="anonymous"
    ></script>
    <title>Yeah!</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/stylex.css" />
    <link rel="stylesheet" href="/css/login.css" />
    <link rel="shortcut icon" href="/images/logo-y-title.png" />
    <script src="/scripts/loginValidation.js"></script>
  </head>
  <body>
    <a href="/"><button class="backArrow" ><img src="/images/arrow-left-solid.svg" alt=""></button></a>
    <div class="container">
      <h1>Iniciá sesión</h1>
      <form id="login" class="form" method="POST">
        <div class="form-group">
          <label for="exampleInputEmail1">Ingresá tu correo electrónico</label><br>
        </div>
        <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
        <div class="form-group">
          <label for="exampleInputPassword1">Ingresá tu contraseña</label><br>
        </div>
        <input type="password" name="password" class="form-control" id="exampleInputPassword1">
        <div class="form-group"><br> 
          <div class="errors">

          </div><br>
          <label for="remember">Recordame</label>
          <input type="checkbox" name="remember" class="checkbox">
        </div>
        <button type="submit" onclick="displayErrors()" class="button-enviar">Acceder</button>
      </form>
    </div>
  </body>
</html>