<!DOCTYPE html>
<html>
  <head>
    <script
      src="https://kit.fontawesome.com/712575d4a5.js"
      crossorigin="anonymous"
    ></script>
    <title>Yeah!</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/stylex.css" />
    <link rel="stylesheet" href="/css/register.css" />
    <link rel="shortcut icon" href="/images/logo-y-title.png" />
    <script src="/scripts/registerValidation.js"></script>
    </head>
    <body>
      <a href="/"><button class="backArrow" ><img src="/images/arrow-left-solid.svg" alt=""></button></a>
      <div class="container">
        <h1 class="cuenta">Creá tu cuenta</h1>
        <form action=""  id="register" method="POST"  class="form" enctype="multipart/form-data">
          <div class="form-group">
            <label for="exampleInputUsername">Ingresa tu nombre de usuario</label>
            <input type="text" name="username" class="form-control" id="exampleImputUsername"><br>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">Ingresá tu correo electrónico</label><br>
            <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"><br>
          </div>
          <div class="form-group">
            <label for="exampleFormControlFile1">Subí tu avatar</label><br>
            <input type="file" class="form-control-file" id="exampleFormControlFile1" name="avatar">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Ingresá tu contraseña</label><br>
            <input type="password" name="password" class="form-control" id="exampleInputPassword1"><br>
          </div>
          <div class="errors">
            
          </div><br>
          <button type="submit" onclick="displayErrors ()" class="button-enviar">Confirmar</button>
      </form>
    </div>
  </body>
</html>