<footer>
<div class="text-footer">
    <ul class="footer-links">
      <li><a href="mailto:yeah-contact@yeah.com">yeah-contact@yeah.com</a></li>
      <span>|</span>
      <a href="https://api.whatsapp.com/send?phone=5491156123524" target="_blank"><li>+54 9 11 5612-3524</li></a>
      <span>|</span>
      <a href="#"><li>Acerca de</li></a>
      <span>|</span>
      <a href="#"><li>Ayuda</li></a>
      <span>|</span>
      <a href="#"><li>Términos y condiciones</li></a>
      <span>|</span>
      <a href="#"><li>Privacidad</li></a>
      <span>|</span>
      <a href="#"><li>FAQ</li></a>
      <span>|</span>
      <a href="#"><li>Soporte técnico</li></a>
    </ul>
  </div>
</footer>