<footer>
<div class="text-footer">
    <ul>
      <li><a href="#">yeah-contact@yeah.com</a></li>
      <span>|</span>
      <a href="#"><li>+54 9 11 5612-3524</li></a>
      <span>|</span>
      <a href="#"><li>Acerca de</li></a>
      <span>|</span>
      <a href="#"><li>Ayuda</li></a>
      <span>|</span>
    </ul>
    <ul>
      <a href="#"><li>Términos y condiciones</li></a>
      <span>|</span>
      <a href="#"><li>Privacidad</li></a>
      <span>|</span>
      <a href="#"><li>FAQ</li></a>
      <span>|</span>
      <a href="#"><li>Soporte técnico</li></a>
    </ul>
  </div>
</footer>