<header>
  <div class="topnav">
      <!-- H1 LOGO -->
      <a href="/" style="text-decoration: none"><h1>Yeah!</h1></a>
      <!-- BARRA SEARCH -->
      <div class="search-container">
        <form action="#">
          <input
            class="barra-search"
            type="text"
            placeholder="Buscar"
            name="search"
          />
          <button class="lupa" type="submit">
            <i class="fas fa-search"></i>
          </button>
        </form>
      </div>
      <!-- LOGIN REGISTER CART -->
      <div class="log-reg-cart">
          <% if(typeof usuarioLogeado == "undefined") { %>
        <a href="/users/login"><button class="login" name="login">Inici치 sesi칩n</button></a>
        <a href="/users/register"><button class="register" name="register">Cre치 una cuenta</button></a>
        <% } else  { %>
          <% if (usuarioLogeado.admin == 1) { %>
            <a href="/users/admin"><span>Mama soy admin</span></a>
            <% } %>
        <div class="usLog">
          <a id="usLogName" href="/users/perfil<%= usuarioLogeado.id %>" ><%= usuarioLogeado.username %>
            <% if( usuarioLogeado.avatar == "") { %>
              <img class="usLog" id="usLogImg" src="/uploads/avatars/default.png">
              <% } else  { %>
            <img class="usLog" id="usLogImg" src="/uploads/avatars/<%= usuarioLogeado.avatar %>"">
            <% } %>
          </a>
            <div class="usMenu">
              <button type="submit" id="closeSessionButton" onclick="closeSession('<%= usuarioLogeado.id %>')">Cerrar sesi칩n</button>
            </div>
       </div>
       <% } %>
        <a href="/products/cart"><button class="cart" name="cart">
          <i class="fas fa-shopping-cart"></i>
        </button></a>
      </div>
    </div>
</header>